* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter, Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background:
        radial-gradient(circle at top, #1f2937, #0f172a 50%),
        #020617;
}

.container {
    width: 100%;
    max-width: 430px;
    padding: 20px;
}

.form-login {
    background: rgba(15, 23, 42, .85);
    backdrop-filter: blur(15px);

    border: 1px solid rgba(255,255,255,.08);

    border-radius: 24px;

    padding: 35px;

    display: flex;
    flex-direction: column;
    gap: 18px;

    box-shadow:
        0 20px 40px rgba(0,0,0,.45),
        inset 0 1px 0 rgba(255,255,255,.05);
}

.form-login h2 {
    color: #f8fafc;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.subtitle {
    text-align: center;
    color: #94a3b8;
    margin-bottom: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-group label {
    color: #cbd5e1;
    font-size: 14px;
    font-weight: 500;
}

/* INPUTS */

.form-group input {
    width: 100%;
    padding: 15px 18px;
    border-radius: 14px;
    border: 1px solid #334155;
    background: #0f172a;
    color: white;
    font-size: 15px;
    transition: all .25s ease;
}

.form-group input::placeholder {
    color: #64748b;
}

.form-group input:hover {
    border-color: #475569;
}

.form-group input:focus {
    outline: none;
    border-color: #6366f1;
    background: #111827;
    box-shadow:
        0 0 0 4px rgba(99,102,241,.18),
        0 0 20px rgba(99,102,241,.15);
}

/* BOTÃO */

button {
    margin-top: 8px;
    padding: 15px;
    border: none;
    border-radius: 14px;
    background: linear-gradient(
        135deg,
        #6366f1,
        #8b5cf6
    );
    color: white;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: .25s;
}

button:hover {
    transform: translateY(-2px);

    box-shadow:
        0 10px 25px rgba(99,102,241,.35);
}

.register-link {
    color: #94a3b8;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}

.register-link:hover {
    color: white;
}

.register-link {
    text-align: center;
    text-decoration: none;
    color: #94a3b8;
    font-size: 14px;

    display: flex;
    flex-direction: column;
    gap: 4px;
}

.register-link span {
    color: #818cf8;
    font-weight: 600;
    transition: .2s;
}

.register-link:hover span {
    color: #a5b4fc;
}